<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
   <div class="font-bold text-5xl text-900 mb-3 relative">
      Tiendas

      <!-- <button
         pButton
         type="button"
         icon="pi pi-plus"
         class="p-button-rounded absolute top-0 right-0 small-btn"
         routerLink="/tiendas/edit"
      ></button> -->

      <button
         pButton
         type="button"
         label="Añadir"
         icon="pi pi-plus"
         class="p-button w-2 absolute top-0 right-0 big-btn"
         routerLink="/tiendas/edit"
      ></button>
   </div>

   <!--              POSTS               -->
   <div class="grid">
      <ng-container *ngFor="let tienda of tiendas">
         <div class="col-12 lg:col-6">
            <div
               class="flex shadow-2 surface-card border-round mr-0 xl:mr-4 mb-6 xl:mb-0 flex-column md:flex-row h-full"
            >
               <div class="p-4">
                  <div class="flex justify-content-between mb-3">
                     <span class="text-orange-500 text-lg font-medium"
                        >Id: #{{ tienda.id }}</span
                     >
                  </div>
                  <div class="font-medium text-lg text-900 mb-3 line-height-3">
                     Sucursal: {{ tienda.sucursal }}
                  </div>
                  <div class="line-height-3 text-700">
                     Dirección: {{ tienda.direccion }}
                  </div>
               </div>

               <div
                  class="flex flex-column justify-content-around align-items-center mt-3 w-full"
               >
                  <a
                     tabindex="0"
                     class="cursor-pointer text-white"
                     (click)="onEdit(tienda)"
                     ><i
                        class="pi pi-file-edit text-600 text-xl text-cyan-500"
                     ></i
                  ></a>

                  <div>
                     <p-confirmPopup></p-confirmPopup>
                     <a
                        tabindex="0"
                        class="cursor-pointer text-white"
                        (click)="confirm($event, tienda.id)"
                        ><i
                           class="pi pi-trash text-600 text-xl text-pink-500"
                        ></i
                     ></a>
                  </div>
               </div>
            </div>
         </div>
      </ng-container>
   </div>
</div>
